@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: #09131b;
  color: #fff;
  min-height: 100vh;
}

.header {
  background: #122331;
  position: relative;
  max-width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;

  a {
    text-decoration: none;
    color: #ffffff;
  }

  ul {
    list-style: none;
  }
}

.logo {
  font-size: 2rem;
}

.menu-items {
  display: flex;
  align-items: center;

  li {
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: orange;

      .mega-menu {
        top: 70px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    line-height: 6vw;
    color: #427dad;
    text-transform: uppercase;
  }
}

.dropdown {
  position: relative;

  &-menu {
    position: absolute;
    background: #122331;
    width: 100%;
    top: 50px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  &:hover .dropdown-menu {
    top: 38px;
    opacity: 1;
    visibility: visible;
  }
}

.menu-right {
  position: absolute;
  background: #122331;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-right {
  top: 0;
  left: 110%;
}

.dropdown-right {
  &:hover {
    .menu-right {
      left: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}

.mega-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  .content {
    background: #122331;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: space-between;

    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 3rem;

      .img-wrapper {
        display: block;
        position: relative;
        width: 100%;
        height: 20vw;
        overflow: hidden;
        margin-bottom: 1rem;

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }

      .img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
      }

      h2 {
        color: orange;
        font-size: 1.2rem;
        line-height: 3rem;
        font-weight: bold;
      }

      p {
        line-height: 1.2rem;
      }

      .mega-links {
        border-left: 1px solid #1a3246;

        li {
          padding: 0 1rem;
          a {
            padding: 0 1rem;
          }
        }
      }
    }
  }
}

.blog {
  .content {
    grid-template-columns: repeat(3, 1fr);

    .col {
      .read-more {
        display: inline-block;
        padding-top: 1rem;
        color: #427dad;
        transition: color 0.3s ease;

        &:hover {
          color: orange;
        }
      }
    }
  }
}

.content .col img {
  transition: transform 0.3s ease-in-out;
}
