:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;

  .flex {
    justify-content: space-between;

    @media (max-width: 500px) {
      flex-direction: column;
    }
  }

  ul {
    display: flex;

    a {
      color: white;
      padding: 10px;
      margin: 0 5px;

      &:hover {
        border-bottom: 2px white solid;
      }
    }

    @media (max-width: 500px) {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  @media (max-width: 500px) {
    height: 110px;
  }
}

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: white;
  position: relative;

  h1 {
    font-size: 40px;
  }

  p {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  &-text {
    text-align: center;
    margin-top: 40px;

    animation: slideInFromLeft 1s ease-in-out;
  }

  &-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in-out;

    .form-control {
      margin: 30px 0;
    }

    input[type='text'],
    input[type='email'] {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
      padding: 3px;
      font-size: 16px;
    }

    input:focus {
      outline: none;
    }

    @media (max-width: 768px) {
      justify-self: center;
      margin: auto;

      animation: slideInFromBottom 1s ease-in-out;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
  }

  @media (max-width: 768px) {
    height: auto;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in-out;

  &-heading {
    max-width: 500px;
    margin: auto;
  }

  .grid {
    p {
      font-size: 20px;
      font-weight: bold;
    }

    h3 {
      font-size: 35px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
}

.cloud {
  .grid {
    grid-template-columns: 4fr 3fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);

  color: white;
  border: none;
  border-radius: 5px;

  &-outline {
    background-color: transparent;
    border: 1px solid #fff;
  }

  &:hover {
    transform: scale(0.98);
  }

  &-primary {
    background-color: var(--primary-color);
    color: white;
  }
  &-secondary {
    background-color: var(--secondary-color);
    color: white;
  }
  &-light {
    background-color: var(--light-color);
    color: white;
  }
  &-dark {
    background-color: var(--dark-color);
    color: #fff;
  }
}

.cli {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    & > {
      *:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;

        @media (max-width: 768px) {
          grid-column: 1;
          grid-row: 1;
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.bg {
  &-primary {
    background-color: var(--primary-color);
    color: white;
  }
  &-secondary {
    background-color: var(--secondary-color);
    color: white;
  }
  &-light {
    background-color: var(--light-color);
    color: black;
  }
  &-dark {
    background-color: var(--dark-color);
    color: white;
  }
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: white;
}

.footer {
  .social a {
    margin: 0 10px;
  }
}

.languages {
  .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.3s ease;

    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &:hover {
      transform: translateY(-15px);
    }
  }

  .flex {
    flex-wrap: wrap;
  }
}

.features {
  &-head {
    img {
      width: 200px;
      justify-self: flex-end;

      @media (max-width: 768px) {
        justify-self: center;
      }
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &-sub-head {
    img {
      width: 300px;
      justify-self: flex-end;

      @media (max-width: 768px) {
        justify-self: center;
      }
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &-main {
    .card {
      & > i {
        margin-right: 20px;
      }

      &:first-child {
        grid-column: 1 / span 3;
      }
      &:nth-child(2) {
        grid-column: 1 / span 2;
      }
    }

    .grid {
      padding: 30px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }

      & > *:first-child,
      & > *:nth-child(2) {
        @media (max-width: 768px) {
          grid-column: -1 / 1;
        }
      }
    }
  }
}

.docs {
  &-head {
    img {
      width: 200px;
      justify-self: flex-end;

      @media (max-width: 768px) {
        justify-self: center;
      }
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &-main {
    h3 {
      margin: 20px 0;
    }

    .grid {
      grid-template-columns: 1fr 2fr;
      align-items: flex-start;
    }

    nav {
      li {
        font-size: 17px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
      }
    }

    a {
      &:hover {
        font-weight: bold;
      }
    }
  }
}

.alert {
  background: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;

  i {
    margin-right: 10px;
  }

  &-success {
    background-color: var(--success-color);
    color: white;
  }
  &-error {
    background-color: var(--error-color);
    color: white;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-primary {
    color: var(--primary-color);
  }

  &-secondary {
    color: var(--secondary-color);
  }

  &-light {
    color: var(--light-color);
  }
  &-dark {
    color: var(--dark-color);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem;
}
.py-2 {
  padding: 1.5rem;
}
.py-3 {
  padding: 2rem;
}
.py-4 {
  padding: 3rem;
}
.py-5 {
  padding: 4rem;
}
