@media (max-width: 1600px) {
  .follow {
    left: 58.5%;
  }
}

@media (max-width: 1300px) {
  .middle-content {
    width: 60%;
  }

  .main-page-footer {
    ul {
      flex-wrap: wrap;
    }
    li {
      margin-bottom: 1rem;
    }
  }

  .follow {
    left: 60%;
  }
}

@media (max-width: 1100px) {
  .main-page {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) min-content;

    &-footer {
      grid-row: 3 / 4;
    }
  }

  .right {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 70%;
    margin: auto;

    &-content-form {
      display: none;
    }
  }

  .left {
    grid-row: 2 / 3;

    &-content {
      width: 50%;
      margin: auto;

      h3 {
        line-height: 3rem;
      }
    }
  }

  .login {
    width: 80rem;

    &-page-nav ul {
      width: 80rem;
    }

    &-modal {
      width: 60rem;
    }
  }

  .feeds-content {
    grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
  }
  .search-bar,
  .follow {
    display: none;
  }

  .post-btn {
    left: 80%;
  }
}

@media (max-width: 900px) {
  .login-page-nav ul {
    width: 60rem;
  }
  .login {
    width: 60rem;

    &-modal {
      width: 50rem;
    }
  }
}

@media (max-width: 800px) {
  .right {
    width: 80%;
  }
  .middle-content {
    i {
      display: none;
    }
    h1 {
      margin-bottom: 2rem;
    }
    h4 {
      margin-bottom: 1rem;
    }
  }
  .left-content {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .login-page-nav ul {
    width: 50rem;
  }
  .login {
    width: 50rem;

    &-modal {
      width: 40rem;
    }
  }
  .feeds-content {
    grid-template-columns: 1fr;
  }

  .feeds-header,
  .posts {
    grid-column: 1 / -1;
  }

  .modal {
    width: 90%;
  }

  .modal-img {
    flex-shrink: 0;
  }

  .post-btn {
    left: 75%;
    font-size: 1.8rem;
    width: 11rem;
    padding: 1.2rem 0.8rem;
  }

  .sidebar-list-1 li,
  .sidebar-list-2 li {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .main-page {
    grid-template-rows: 1fr min-content;
  }
  .left {
    display: none;
  }
  .right {
    grid-row: 1 / 2;
    width: 90%;
  }

  .login-page-nav ul {
    width: 40rem;
  }
  .login {
    width: 40rem;
    grid-template-columns: 5rem 8fr;

    &-form {
      label {
        font-size: 1.4rem;
      }
      a {
        font-size: 1.4rem;
      }
    }
    &-footer {
      padding-left: 5rem;

      p {
        font-size: 1.4rem;
      }
    }
    &-modal {
      width: 30rem;

      i {
        top: 2.5rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }

  .user a,
  .user i {
    display: none;
  }

  .header-post {
    input {
      width: 27rem;
    }
  }
  .post-text {
    width: 90%;
  }

  .post-img {
    width: 90%;
    height: 25rem;
  }

  .post-btn {
    left: 70%;
  }
}

@media (max-width: 500px) {
  .middle-content h1 {
    font-size: 2.5rem;
  }
  .login-page-nav {
    ul {
      width: 30rem;
    }
  }

  .login {
    width: 30rem;
    grid-template-columns: 2rem 8fr;

    &-footer {
      padding-left: 2rem;
    }
  }

  .login-form input:not(.login-form-checkbox) {
    width: 20rem;
  }
  .login-form {
    a {
      display: block;
      margin-top: 1.5rem;
    }
  }

  .icons {
    a {
      margin-right: 5rem;
    }
  }

  .header-img-wrapper {
    display: none;
  }

  .header-post {
    justify-content: center;
    input {
      width: 20rem;
    }
  }
  .post {
    padding: 1rem;
  }

  .user-avatar {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .post-icons i {
    margin-right: 4rem;
  }
}

@media (max-width: 400px) {
  .login-page {
    grid-template-columns: 2rem 2fr 2rem;
  }

  .login {
    width: 100%;

    &-modal {
      width: 25rem;
    }
  }

  .icons {
    i {
      font-size: 2rem;
    }
    a {
      margin-right: 4rem;
    }
  }

  .user {
    margin-left: 1rem;
  }

  .header-post input {
    width: 16rem;
  }
  .header-post i {
    font-size: 2rem;
  }
  .post-icons i {
    margin-right: 4rem;
  }

  .post-btn {
    left: 60%;
  }
}
