@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?75xe5u");
  src: url("../fonts/icomoon.eot?75xe5u#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?75xe5u") format("truetype"), url("fonts/icomoon.woff?75xe5u") format("woff"), url("../fonts/icomoon.svg?75xe5u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

p {
  color: #8a8a8a;
}

body {
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
  line-height: 2.4rem;
  color: #232323;
}

html,
body {
  overflow-x: hidden;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  display: grid;
  grid-template-columns: 7.5rem -webkit-max-content;
  grid-template-columns: 7.5rem max-content;
  padding: 1rem 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.brand {
  display: block;
}

#banner {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, 1fr);
}

.banner__bg-container {
  grid-column: 1/4;
  grid-row: 1/4;
  overflow-y: hidden;
}
.banner__content {
  grid-column: 1/4;
  grid-row: 2/3;
  z-index: 2;
  justify-self: center;
  text-align: center;
}
.banner__content--h1 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 4rem;
}
.banner__content--h2 {
  color: #fff;
  font-size: 10rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 10.8rem;
}

.btn {
  display: inline-block;
  background: linear-gradient(to bottom right, #d94545, #d96f45);
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 4.5rem;
  margin: 1.5rem 3rem;
  transition: all 0.25s linear;
  color: #fff;
  line-height: 1.6;
}
.btn:hover {
  background: linear-gradient(to bottom right, #f86d6d, #f88e6d);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}
.btn:focus {
  background: #ad3636;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.btn:active {
  background: #d94545;
}
.btn-lg {
  font-size: 2.6rem;
}

#about {
  background: url(/grid-masterclass/img/about-bg.jpg) bottom no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 25rem repeat(2, minmax(0, 1fr)) 25rem;
  grid-template-rows: 20rem 1fr 20rem;
  grid-template-areas: ". title title ." ". content-left content-right ." "figures figures figures figures";
  width: 100%;
}

#about .section-heading {
  grid-area: title;
  text-align: center;
}

.section-heading {
  color: #232323;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 6rem;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.section-heading__back, .section-heading__front {
  display: block;
}
.section-heading__back {
  font-family: "Playfair Display", serif;
  opacity: 0.2;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 4rem;
}

.about__content-left {
  grid-area: content-left;
  font-size: 2.6rem;
  line-height: 3.9rem;
}
.about__content-left p {
  color: #232323;
}
.about__content-right {
  grid-area: content-right;
}
.about__figures {
  grid-area: figures;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 20rem);
  text-align: center;
}
.about__figure-number {
  font-size: 7rem;
  line-height: 5.6rem;
  font-weight: 300;
}
.about__figure-text {
  margin-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

#menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 35vw));
  grid-template-rows: 20rem 1fr 10rem;
  justify-content: center;
  gap: 2rem;
}
#menu .section-heading {
  grid-column: span 2;
}

.menu__item {
  display: grid;
  grid-template-columns: 10rem 1fr -webkit-min-content;
  grid-template-columns: 10rem 1fr min-content;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  align-items: center;
}
.menu__item:not(:last-of-type) {
  margin-bottom: 2rem;
}
.menu__item-line {
  width: 100%;
  border-bottom: 2px dotted #cfcece;
  align-self: center;
}
.menu__item-content--container {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
}
.menu__item-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.menu__item-price {
  color: #d94545;
  font-size: 1.8rem;
}

.subsection {
  display: grid;
  grid-template-rows: 30rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subsection h2 {
  font-size: 4rem;
  text-transform: uppercase;
}
.subsection-reserve {
  background: url(/grid-masterclass/img/subsection-1.jpg) center no-repeat;
  background-size: cover;
}
.subsection__sub-heading {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  margin-top: 1rem;
  font-style: italic;
  text-transform: capitalize;
}

#delivery {
  display: grid;
  grid-template-rows: 20rem 1fr 10rem;
}

.image-grid {
  display: grid;
  grid: repeat(6, 10rem)/repeat(6, 1fr);
  gap: 1rem;
  grid-auto-flow: dense;
}
.image-grid img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img1 {
  grid-column: span 2;
  grid-row: span 2;
}

.img2 {
  grid-column: span 2;
  grid-row: span 3;
}

.img3 {
  grid-column: span 2;
  grid-row: span 4;
}

.img4 {
  grid-column: span 2;
  grid-row: span 4;
}

.img7, .img8 {
  grid-column: span 2;
  grid-row: span 2;
}/*# sourceMappingURL=style.css.map */