$primary-color: #fafafa;
$secondary-color: #220000;
$instagram-color: #cc0068;
$facebook-color: #39579b;
$twitter-color: #1da1f2;
$youtube-color: #f80000;

$shadow: 0 5px 15px rgba($secondary-color, 0.5);
