:root {
  --mainFont: 'Lato', sans-serif;
  --primary: rgb(255, 90, 95);
  --dark: #484848;
  --light: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--mainFont);
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--dark);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  background-image: url(./img/bg.jpg);
  background-position: bottom center;
  background-size: cover;
  display: grid;
  grid-template-rows: 150px auto;
}

.header {
  display: grid;
  grid-template-columns: 10% auto 30%;
  width: 100%;
  padding: 1rem;
  align-items: flex-start;
}

.main-nav {
  color: var(--light);
}

.main-nav {
  display: none;

  @media (min-width: 768px) {
    grid-column: 3 / 4;

    display: grid;
    justify-content: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    a {
      color: var(--light);
      font-size: 0.8rem;
      text-decoration: none;
      padding: 1rem 1rem 1rem 1rem;
      text-align: center;

      &:hover {
        border-bottom: 1px solid var(--light);
      }
    }
  }
}
